.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  text-align: center;
  max-width: 250px;
  min-height: 400px;
  list-style: none;
  box-sizing: border-box;
}
.imgWrap {
  width: 100%;
  height: 100%;
  max-height: 190px;
  padding: 0 10px;
  box-sizing: border-box;
  object-fit: contain;
}
.imgWrap a {
  height: 100%;
}
.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0 20px;
}